@font-face {
    font-family: ptsans;
    src: url(../PT_Sans/PTSans-Regular.ttf)
}

body {
    font-family: ptsans, serif;
}



h1, h2, h3, h4, h5, span, div, header, p {
    font-size: 12px;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
}
h1 {
    font-size: 30%;
}
a {
    font-size: 30px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.mainContent {
    display: flex;
    position: relative;
    background-image: url(../images/so-white.png);
    background-size: cover;
    padding: 20px;
  
}
.description {
    width: 30%;
    margin: 10%;
    margin-left: 4%;
}
h2 {
    font-size: 50px;
}
p {
    font-size: 24px;
    margin-bottom: 20px;
}
h3 {
    font-size: 24px;
    font-weight: bold;
}
h4 {
    background-color: white;
    padding: 10% 10%;
    width: 58%;
    position: relative;
    left: 22%;
}
h5 {
    background-color: green;
    padding: 10% 10%; 
}
.descript {
    width: 50%;
}
.mi {
    color: red;
    font-size: 50px;
}
.health{
    color: green;
    font-size: 50px;
}




.mainContent {
    display: flex;
    align-items: center;
}
.pictures {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}
.image {
    width: 30%;
}
img {
    width: 100%;
}
.descript {
    position: relative;
    bottom: 20%;
    left: 50%
}

.browse {
    display: flex;
    align-items: center;
}

.browse img {
    width: 20%;
  margin-left: 5%;
}

@media only screen and (max-width: 600px) {
    .mainContent {
        flex-direction: column;
        width: 100%;
    }
    .description {
        width: 100%;
    }
    .pictures {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
  }
